/* line 7, ../_assets/scss/bnb.scss */
#slider-in-laptop {
  width: 100%;
  height: auto;
  padding: 2% 15% 7%;
  background: none;
}

/* line 16, ../_assets/scss/bnb.scss */
#slider-in-laptop .rsOverflow,
#slider-in-laptop .rsSlide,
#slider-in-laptop .rsVideoFrameHolder,
#slider-in-laptop .rsThumbs {
  background: #151515;
}

/* line 19, ../_assets/scss/bnb.scss */
.imgBg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

/* line 26, ../_assets/scss/bnb.scss */
#slider-in-laptop .rsBullets {
  bottom: -25px;
}

/* line 29, ../_assets/scss/bnb.scss */
.laptopBg {
  position: relative;
  width: 100%;
  height: auto;
}

/* line 34, ../_assets/scss/bnb.scss */
#slider-in-laptop .rsBullets {
  bottom: -30px;
}

/* line 37, ../_assets/scss/bnb.scss */
.columns {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding-box !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
}

/* line 47, ../_assets/scss/bnb.scss */
#main-wrapper {
  position: relative;
  padding: 10% 0;
}

/* line 59, ../_assets/scss/bnb.scss */
html, body, #main-wrapper {
  height: 100%;
}

/* line 62, ../_assets/scss/bnb.scss */
#content {
  text-align: center;
}

/* line 65, ../_assets/scss/bnb.scss */
body, h1, h2 {
  font-family: "museo-sans", "Helvetica", Helvetica, Arial, sans-serif;
}

/* line 66, ../_assets/scss/bnb.scss */
h1 {
  font-weight: 100;
  font-style: normal;
  font-size: 60px;
  margin-top: 30px;
  margin-bottom: 0;
}

/* line 73, ../_assets/scss/bnb.scss */
h2 {
  font-weight: 100;
  font-style: normal;
  font-size: 17px;
}
/* line 77, ../_assets/scss/bnb.scss */
h2 strong {
  font-weight: 700;
}

/* line 81, ../_assets/scss/bnb.scss */
#social-buttons {
  width: 80px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
/* line 88, ../_assets/scss/bnb.scss */
#social-buttons a {
  color: #c2c2c2;
  transition: color .25s ease-in-out;
  -moz-transition: color .25s ease-in-out;
  -webkit-transition: color .25s ease-in-out;
}
/* line 94, ../_assets/scss/bnb.scss */
#social-buttons a:hover {
  color: #2ba6cb;
}

/* line 99, ../_assets/scss/bnb.scss */
ul {
  list-style: none;
  padding-bottom: 50px;
}

/* line 104, ../_assets/scss/bnb.scss */
li {
  color: #c2c2c2;
  float: left;
  margin: 0 2px;
}
/* line 109, ../_assets/scss/bnb.scss */
li:hover {
  color: #000;
}

/* line 114, ../_assets/scss/bnb.scss */
.rsDefaultInv .rsGCaption {
  left: 15%;
  bottom: 13%;
  width: 70%;
}

@media only screen {
  /* line 120, ../_assets/scss/bnb.scss */
  .company-name-wrapper {
    width: 310px;
  }
}
@media only screen and (min-width: 768px) {
  /* line 126, ../_assets/scss/bnb.scss */
  .rsDefaultInv .rsGCaption {
    font-weight: 700;
    background: none;
    top: 0px;
    bottom: auto;
    width: 250px;
    text-align: center;
    height: 2em;
    left: auto;
    right: -30%;
  }

  /* line 138, ../_assets/scss/bnb.scss */
  .company-name-wrapper {
    width: 379px;
  }
}
/* line 143, ../_assets/scss/bnb.scss */
#logo {
  text-align: right;
  font-size: 15px;
  float: left;
  padding-top: 20px;
  margin-right: 10px;
}

/* line 153, ../_assets/scss/bnb.scss */
#company-name {
  width: 100%;
  float: left;
  margin-top: 20px;
}
/* line 158, ../_assets/scss/bnb.scss */
#company-name h1 {
  float: left;
  margin-top: 0;
}

/* line 163, ../_assets/scss/bnb.scss */
.company-name-wrapper {
  margin-left: auto;
  margin-right: auto;
}

/* line 167, ../_assets/scss/bnb.scss */
#slider-in-laptop img {
  display: none;
}

/* line 170, ../_assets/scss/bnb.scss */
#slider-in-laptop .rsContainer img {
  display: inherit;
}

/* line 176, ../_assets/scss/bnb.scss */
#slider-in-laptop figure {
  display: none;
}

/* line 179, ../_assets/scss/bnb.scss */
#slider-in-laptop .rsGCaption figure {
  display: inherit;
}
