/* line 8, ../_assets/scss/bnb.scss */
#slider-in-laptop {
  width: 100%;
  height: auto;
  padding: 2% 15% 7%;
  background: none;
}

/* line 17, ../_assets/scss/bnb.scss */
#slider-in-laptop .rsOverflow,
#slider-in-laptop .rsSlide,
#slider-in-laptop .rsVideoFrameHolder,
#slider-in-laptop .rsThumbs {
  background: #151515;
}

/* line 20, ../_assets/scss/bnb.scss */
.imgBg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}

/* line 27, ../_assets/scss/bnb.scss */
#slider-in-laptop .rsBullets {
  bottom: -25px;
}

/* line 30, ../_assets/scss/bnb.scss */
.laptopBg {
  position: relative;
  width: 100%;
  height: auto;
}

/* line 35, ../_assets/scss/bnb.scss */
#slider-in-laptop .rsBullets {
  bottom: -30px;
}

/* line 38, ../_assets/scss/bnb.scss */
.columns {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding-box !important;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
}

/* line 48, ../_assets/scss/bnb.scss */
#main-wrapper {
  position: relative;
  padding: 10% 0;
}

/* line 52, ../_assets/scss/bnb.scss */
#main-container {
  padding-bottom: 50px;
}

/* line 60, ../_assets/scss/bnb.scss */
html, body, #main-wrapper {
  height: 100%;
}

/* line 63, ../_assets/scss/bnb.scss */
#content {
  text-align: center;
}

/* line 66, ../_assets/scss/bnb.scss */
body, h1, h2 {
  font-family: "museo-sans", "Helvetica", Helvetica, Arial, sans-serif;
}

/* line 67, ../_assets/scss/bnb.scss */
h1 {
  font-weight: 100;
  font-style: normal;
  font-size: 60px;
  margin-top: 30px;
  margin-bottom: 0;
}

/* line 74, ../_assets/scss/bnb.scss */
h2 {
  font-weight: 300;
  font-style: normal;
  font-size: 17px;
}
/* line 78, ../_assets/scss/bnb.scss */
h2 strong {
  font-weight: 700;
}

/* line 82, ../_assets/scss/bnb.scss */
ul {
  list-style: none;
}

/* line 85, ../_assets/scss/bnb.scss */
#social-buttons {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
/* line 91, ../_assets/scss/bnb.scss */
#social-buttons a {
  color: #ccc;
}
/* line 97, ../_assets/scss/bnb.scss */
#social-buttons a:hover {
  color: #2ba6cb;
}
/* line 101, ../_assets/scss/bnb.scss */
#social-buttons ul {
  padding-bottom: 0px;
}
/* line 105, ../_assets/scss/bnb.scss */
#social-buttons li {
  color: #c2c2c2;
  float: left;
  margin: 0 2px;
}
/* line 110, ../_assets/scss/bnb.scss */
#social-buttons li:hover {
  color: #000;
}

/* line 116, ../_assets/scss/bnb.scss */
.rsDefaultInv .rsGCaption {
  left: 15%;
  bottom: 13%;
  width: 70%;
}

@media only screen {
  /* line 122, ../_assets/scss/bnb.scss */
  .company-name-wrapper {
    width: 313px;
  }

  /* line 125, ../_assets/scss/bnb.scss */
  #social-buttons {
    width: 85px;
  }

  /* line 128, ../_assets/scss/bnb.scss */
  .l-top #company-name #logo {
    font-size: 7px;
    padding-top: 9px;
  }

  /* line 132, ../_assets/scss/bnb.scss */
  #contact-phone-big {
    font-size: 240px;
    text-align: left;
  }
}
@media only screen and (min-width: 768px) {
  /* line 139, ../_assets/scss/bnb.scss */
  .rsDefaultInv .rsGCaption {
    font-weight: 700;
    background: none;
    top: 50px;
    bottom: auto;
    width: 250px;
    text-align: left;
    height: 2em;
    left: auto;
    right: -30%;
  }

  /* line 151, ../_assets/scss/bnb.scss */
  .company-name-wrapper {
    width: 379px;
  }

  /* line 154, ../_assets/scss/bnb.scss */
  #social-buttons {
    width: 80px;
  }

  /* line 157, ../_assets/scss/bnb.scss */
  .l-top #company-name #logo {
    font-size: 8px;
    padding-top: 10px;
  }

  /* line 161, ../_assets/scss/bnb.scss */
  #contact-phone-big {
    font-size: 240px;
    text-align: center;
  }
}
/* line 167, ../_assets/scss/bnb.scss */
#logo {
  text-align: right;
  font-size: 15px;
  float: left;
  padding-top: 20px;
  margin-right: 10px;
}

/* line 177, ../_assets/scss/bnb.scss */
#company-name {
  width: 100%;
  float: left;
  margin-top: 20px;
}
/* line 182, ../_assets/scss/bnb.scss */
#company-name h1 {
  float: left;
  margin-top: 0;
}
/* line 186, ../_assets/scss/bnb.scss */
#company-name a {
  color: #000;
}

/* line 191, ../_assets/scss/bnb.scss */
.company-name-wrapper {
  margin-left: auto;
  margin-right: auto;
}

/* line 197, ../_assets/scss/bnb.scss */
.l-top .company-name-wrapper {
  margin-left: inherit;
  margin-right: inherit;
  width: auto;
}
/* line 203, ../_assets/scss/bnb.scss */
.l-top #company-name h1 {
  font-size: 32px;
}

/* line 208, ../_assets/scss/bnb.scss */
#slider-in-laptop img {
  display: none;
}

/* line 211, ../_assets/scss/bnb.scss */
#slider-in-laptop .rsContainer img {
  display: inherit;
}

/* line 217, ../_assets/scss/bnb.scss */
#slider-in-laptop figure {
  display: none;
}

/* line 220, ../_assets/scss/bnb.scss */
#slider-in-laptop .rsGCaption figure {
  display: inherit;
}

/* line 223, ../_assets/scss/bnb.scss */
#contact li {
  float: none;
}
/* line 225, ../_assets/scss/bnb.scss */
#contact li .e-mail, #contact li .phone-number {
  margin-left: 5px;
}
/* line 228, ../_assets/scss/bnb.scss */
#contact li .foundicon-general-mail {
  color: #2ba6cb;
}
/* line 231, ../_assets/scss/bnb.scss */
#contact li.phone {
  color: #000;
}
/* line 234, ../_assets/scss/bnb.scss */
#contact li i {
  font-style: normal;
}

/* line 240, ../_assets/scss/bnb.scss */
.l-project .project-excerpt {
  display: none;
}

/* line 245, ../_assets/scss/bnb.scss */
.wf-loading #menu {
  width: 202px;
}

/* line 248, ../_assets/scss/bnb.scss */
.wf-inactive #menu {
  width: 202px;
}

/* line 251, ../_assets/scss/bnb.scss */
#menu {
  clear: both;
  height: 1em;
  font-size: 16px;
  width: 202px;
  margin-left: auto;
  margin-right: auto;
}
/* line 258, ../_assets/scss/bnb.scss */
#menu a {
  color: #000;
}
/* line 261, ../_assets/scss/bnb.scss */
#menu li {
  float: left;
  border-left: 1px solid #000;
  padding: 0 5px;
  line-height: 1em;
}
/* line 266, ../_assets/scss/bnb.scss */
#menu li.first {
  border-left: none;
}

/* line 273, ../_assets/scss/bnb.scss */
.l-top #menu {
  margin-left: 0;
  font-size: 12px;
}
/* line 277, ../_assets/scss/bnb.scss */
.l-top #menu li.first {
  padding-left: 0px;
}

/* line 285, ../_assets/scss/bnb.scss */
.l-default #main-wrapper, .l-project #main-wrapper {
  padding: 0;
  padding-top: 50px;
}
/* line 288, ../_assets/scss/bnb.scss */
.l-default #main-wrapper h1, .l-project #main-wrapper h1 {
  margin-top: 0;
  color: #2ba6cb;
  font-size: 48px;
}
/* line 293, ../_assets/scss/bnb.scss */
.l-default #main-wrapper #content, .l-project #main-wrapper #content {
  text-align: left;
}
/* line 297, ../_assets/scss/bnb.scss */
.l-default .rsGCaption, .l-project .rsGCaption {
  top: 80px;
  right: -25%;
  text-align: left;
}
/* line 302, ../_assets/scss/bnb.scss */
.l-default .portfolio-slider, .l-project .portfolio-slider {
  margin-bottom: 35px;
}

/* line 307, ../_assets/scss/bnb.scss */
.wf-loading .tk-daniel, .wf-loading .tk-daniel p {
  display: none;
}

/* line 310, ../_assets/scss/bnb.scss */
.tk-daniel, .tk-daniel p {
  font-family: "daniel",cursive;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  font-size: 25px;
}

/* line 317, ../_assets/scss/bnb.scss */
#intro {
  padding-top: 30px;
  display: none;
}

/* line 321, ../_assets/scss/bnb.scss */
.wf-active #intro {
  display: inherit;
}

/* line 327, ../_assets/scss/bnb.scss */
.project-description ul {
  list-style: inherit;
  margin-left: 1.25em;
}
