<script>
// document.write('<script src=' +
//   ('__proto__' in {} ? '/js/vendor/zepto' : '/js/vendor/jquery') +
//   '.js><\/script>')
</script>

<!-- slider JS files -->
<script src="//use.typekit.net/udz8xdk.js"></script>
<script>try{Typekit.load();}catch(e){}</script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/headjs/1.0.1/head.load.min.js"></script>
{% if site.environment == 'dev' %}
  {% include scripts.dev.html %}
{% else %}
  {% include scripts.dev.html %}
  <!-- {% include scripts.live.html %} -->
{% endif %}
</body>

</html>