<!DOCTYPE html>
<html lang="en">
<head>
  {% if page.experiment %}
  <!-- Google Analytics Content Experiment code -->
  <script>function utmx_section(){}function utmx(){}(function(){var
  k='76559494-1',d=document,l=d.location,c=d.cookie;
  if(l.search.indexOf('utm_expid='+k)>0)return;
  function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
  indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
  length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
  '<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
  '://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
  '&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
  valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
  '" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
  </script><script>utmx('url','A/B');</script>
  <!-- End of Google Analytics Content Experiment code -->
  {% endif %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }} | {{site.title}} - Freelance Drupal Web Development</title>
  
  {% if page.description %}
  <meta name="description" content="{{page.description}}" />
  {% else %}
  <meta name="description" content="{{site.description}}" />
  {% endif %}
  <meta name="robots" content="{{page.index}}INDEX,{{page.follow}}FOLLOW" />
  <meta property="og:title" content="Bits 'n Bolts Freelance Drupal Development"/>
  <meta property="og:type" content="website"/>
  <meta property="og:description" content="Bits 'n Bolts provides kickass freelance Drupal Development." />
  <link rel="author" href="https://plus.google.com/115184840382790960084"/>
  <meta name="viewport" content="width=device-width">
  <meta name="viewport" content="width=device-width">

  <style>
  .wf-loading h1, .wf-loading h2, .wf-loading .rsGCaption .wf-active #company-name {
    visibility: hidden;
  }
  .wf-active h1, .wf-active h2, .wf-active .rsGCaption, .wf-active #company-name {
    visibility: visible;
  }
  </style>
  {% if site.environment == 'dev' %}
    {% include stylesheets.dev.html %}
  {% else %}
    {% include stylesheets.live.html %}
  {% endif %}
  <style>
    #content {
      text-align:left !important;
    }
  </style>
  <!-- Google Analytics -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43974600-1', 'bitsnbolts.nl');
  ga('send', 'pageview');

  </script>
</head>
