<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }} | Freelance Drupal Webdevelopment</title>
  
  <meta name="description" content="Bits 'n Bolts provides professional freelance Drupal development.">
  <meta property="og:title" content="Bits 'n Bolts Freelance Drupal Development"/>
  <meta property="og:type" content="website"/>
  <meta property="og:description" content="Bits 'n Bolts provides kickass freelance Drupal Development." />
  <link rel="author" href="https://plus.google.com/115184840382790960084"/>
  <meta name="viewport" content="width=device-width">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/css/social_foundicons.css">
  <link rel="stylesheet" href="/css/general_foundicons.css">
  <link class="rs-file" href="/css/royalslider.css" rel="stylesheet">
  <!-- slider stylesheets -->
  <link class="rs-file" href="/css/skins/default-inverted/rs-default-inverted.css" rel="stylesheet">


  <link rel="stylesheet" href="/css/foundation.min.css">
  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/syntax.css">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/bnb.css">
  <style>
  .wf-loading h1, .wf-loading h2, .wf-loading .rsGCaption .wf-active #company-name {
    visibility: hidden;
  }
  .wf-active h1, .wf-active h2, .wf-active .rsGCaption, .wf-active #company-name {
    visibility: visible;
  }
  </style>
</head>