<div class="portfolio-item row">
	<div class="thumb large-4 columns">
    <a href="{{ include.link }}">
      <img alt="" src="/img/{{ include.thumbnail }}" />
    </a>
  </div>
	<div class="title large-8 columns">
		<div class="row">
      <h2><a href="{{ include.link }}">{{ include.title }}</a></h2>
    </div>
		<div class="row">{{ include.description }}</div>
		<div class="row terms">Technology: <span>{{ include.terms }}</span></div>
	</div>
	<div class="more-link">
    <a href="{{ include.link }}">> read more</a>
  </div>
</div>