
<link rel="stylesheet" type="text/css" href="{{ site.filepath }}css/main.css">
<link rel="stylesheet" type="text/css" href="{{ site.filepath }}css/normalize.css">
<link rel="stylesheet" type="text/css" href="{{ site.filepath }}css/screen.css">
<link rel="stylesheet" type="text/css" href="{{ site.filepath }}css/syntax.css">
<link rel="stylesheet" type="text/css" href="{{ site.filepath }}css/royalslider.css">
<link rel="stylesheet" type="text/css" href="{{ site.filepath }}css/skins/default-inverted/rs-default-inverted.css">
<link rel="stylesheet" type="text/css" href="{{ site.filepath }}css/foundation.min.css">
<link rel="stylesheet" type="text/css" href="{{ site.filepath }}css/github.css">
<link rel="stylesheet" type="text/css" href="{{ site.filepath }}css/bnb.css">