<script>
head.load(
	// '{{ site.filepath }}css/contrib/foundation.min.css',
	// '{{ site.filepath }}css/contrib/social_foundicons.css',
	// '{{ site.filepath }}css/contrib/general_foundicons.css',
	// '{{ site.filepath }}css/contrib/royalslider.css',
	// '{{ site.filepath }}css/skins/default-inverted/rs-default-inverted.css',
	// // '{{ site.filepath }}css/bnb.css',
	// '{{ site.filepath }}css/contrib/github.css',
	// '{{ site.filepath }}release/css/contrib.min.css',
	'{{ site.filepath }}release/css/agg.css'

	);
</script>