<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
<!--         <link rel="stylesheet" href="/css/main.css"> -->
          <meta name="viewport" content="width=device-width">
      <link rel="stylesheet" href="css/foundation.css">
    {% css_asset_tag global %}
    - /_assets/bnb.css.scss
    {% endcss_asset_tag %}

      <script src="js/vendor/custom.modernizr.js"></script>

    </head>
    <header>
      <div class="row">
        <div class="large-12">
          <h1>{{ page.title }}</h1>
        </div>
      </div>
    </header>
    <body>
      <div class="row">
        <div class="large-12">
          <h1>{{ content }}</h1>
        </div>
      </div>
    </body>
    <footer>

    </footer>
</html>
