{% include header.html %}
<body class="l-home">
  <div id="main-wrapper">
    <div id="main-container" class="row">
      <main role="main">
        <div id="content">
          <div class="large-12 columns">
            <div class="row">
              <div class="large-8 large-centered columns">
               <div class="portfolio-slider laptopBg">
                <img src="/img/laptop.png" class="imgBg" width="637" height="360" />
                <div id="slider-in-laptop" class="royalSlider rsDefaultInv">
                  {% for post in site.posts %}
                  {{post.excerpt}}
                  {% endfor %}
                </div>
              </div>
              <div id="content">
                {% include bnb_info.html hidelogo="true" %}
                {% include social-buttons.html %}
                {% include contact.html %}
                {% include menu.html %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>

{% include footer.html %}