{% include header.html %}
<body class="l-project">
  <div class="l-top">
    <div class="row">
      <div class="large-3 columns">
        <!-- {% include menu.html %} -->
      </div>
      <div class="large-3 large-offset-6 columns">
        {% include bnb_info.html link_to_home="true" %}
        {% include menu.html %}
      </div>
    </div>
  </div>
  <div id="main-wrapper">
    <div id="main-container" class="row">
      <main role="main">
        <div id="content">
          <div class="large-12 columns">
            <div class="row">
              <div class="large-8 large-offset-2 columns">
              <div id="content">
                {{content}}
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
</main>
</div>
</div>

{% include footer.html %}