// #slider-in-laptop {
//   width: 636px;
//   height: 341px;
//   padding: 2% 15% 7%;
//   background: none;
// }

#slider-in-laptop {
  width: 100%;
  height: auto;
  padding: 2% 15% 7%;
  background: none;
}
#slider-in-laptop .rsOverflow,
#slider-in-laptop .rsSlide,
#slider-in-laptop .rsVideoFrameHolder,
#slider-in-laptop .rsThumbs {
  background: #151515;
}
.imgBg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}
#slider-in-laptop .rsBullets {
  bottom: -25px;
}
.laptopBg {
  position: relative;
  width: 100%;
  height: auto;
}
#slider-in-laptop .rsBullets {
  bottom: -30px;
}
.columns {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  -moz-background-clip:padding-box !important;
  -webkit-background-clip:padding-box !important;
  background-clip:padding-box !important;

}

#main-wrapper {
  position:relative;
  padding:10% 0;
}
#main-container {
//   position: absolute;
//   top: 50%;
//   height: 30%;
//   width: 50%;
//   margin: -15% 0 0 0;

}
html, body, #main-wrapper {
  height:100%;
}
#content {
  text-align: center;
}
body, h1, h2 {font-family: "museo-sans", "Helvetica", Helvetica, Arial, sans-serif;}
h1 {
  font-weight:100;
  font-style: normal;
  font-size:60px;
  margin-top:30px;
  margin-bottom:0;
}
h2 {
  font-weight:100;
  font-style:normal;
  font-size:17px;
  strong {
    font-weight:700;
  }
}
ul {
    list-style:none;
}
#social-buttons {
    // font-family: ""

    margin-left:auto;
    margin-right:auto;
    margin-bottom:50px;
  a {
    color:#ccc;
   //     transition: color .25s ease-in-out;
   // -moz-transition: color .25s ease-in-out;
   // -webkit-transition: color .25s ease-in-out;
  }
  a:hover {
    color:#2ba6cb;
  }

  ul {
    padding-bottom:50px;

  }
  li {

   color:#c2c2c2;
   float:left;
   margin:0 2px;
   &:hover {
    color:#000;
    }
  }
}

.rsDefaultInv .rsGCaption {
  left:15%;
  bottom:13%;
  width:70%;
}
@media only screen {
  .company-name-wrapper {
  width:313px;
}
#social-buttons {
  width:85px;
  }
}
@media only screen and (min-width: 768px) {

.rsDefaultInv .rsGCaption {   
  font-weight:700;
  background:none;
  top:0px;
  bottom:auto;
  width:250px;
  text-align: center;
  height:2em;
  left:auto;
  right:-30%;
}

.company-name-wrapper {
  width:379px;
}
#social-buttons {
  width:80px;
}
}

#logo {
  text-align: right;
  // position: absolute;
  // left: 98px;
  // bottom: 91px;
  font-size:15px;
  float:left;
  padding-top:20px;
  margin-right:10px;
}
#company-name {
  width:100%;
  float:left;
  margin-top:20px;
  // padding-left:101px;
  h1 {
    float:left;
    margin-top:0;
  }
}
.company-name-wrapper {
	margin-left:auto;
	margin-right:auto;
}
#slider-in-laptop img {
	display:none;
}
#slider-in-laptop .rsContainer img {
	display:inherit;
}
.portfolio-slider {
	// height:327px;
}
#slider-in-laptop figure {
	display:none;
}
#slider-in-laptop .rsGCaption figure {
	display:inherit;
}
#contact li {
  float:none;
  .e-mail, .phone-number {
    margin-left:5px;
  }
  .foundicon-general-mail {
    color:#2ba6cb;
  }
  &.phone {
    color:#000;
  }
  font-style:normal;
}