$bnb_blue: #1081bb;


body {
	background-image:url('/img/grey_wash_wall.png');
}
#header {
	background:$bnb_blue;
	text-align:center;
	color:#fff;
	h1 {
		color:#fff;
	}
}
#content  {
	// background:#fff;

}
#main-container {
	background:#fff;
	-moz-box-shadow:
        5px 0 5px -5px #333,
        -5px 0 5px -5px #333;
    -webkit-box-shadow:
        5px 0 5px -5px #333,
        -5px 0 5px -5px #333;
    box-shadow:
        5px 0 5px -5px #333,
        -5px 0 5px -5px #333;
}